@use "../utils/variables" as vars;

.about {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 4rem;
  @media (max-width: 1200px) {
    padding: 4rem;
    min-height: 80vh;
  }
  @media (max-width: 500px) {
    padding: 2rem;
  }

  &__title {
    font-size: 3rem;
    font-family: vars.$font-description;
    font-weight: 400;
    color: vars.$color-text-primary;
    @media (max-width: 1200px) {
      font-size: 2.5rem;
    }
    @media (max-width: 500px) {
      font-size: 2rem;
    }

    &-note {
      color: vars.$color-text-acent;
      position: relative;
      display: inline-block;
    }

    &-label {
      position: absolute;
      top: -8rem;
      left: 68%;
      transform: translateX(-50%);
      font-family: vars.$font-note;
      font-size: 2rem;
      color: #000;
      white-space: nowrap;

      &:hover {
        color: vars.$color-text-acent;
      }

      @media (max-width: 1200px) {
        display: none;
      }
    }

    &-arrow {
      position: absolute;
      top: -6rem;
      left: 35%;
      transform: translateX(-50%);
      width: 115px;
      height: auto;

      @media (max-width: 1200px) {
        display: none;
      }
    }
  }

  &__list {
    position: absolute;
    bottom: 2.5rem;
    right: 6.5rem;
    font-family: vars.$font-note;
    font-size: 1.8rem;
    list-style: none;

    @media (max-width: 1200px) {
      position: static;
      margin-top: 4rem; 
      padding: 0;
      align-self: flex-start; 
      right: auto;
      bottom: auto;
    }

    @media (max-width: 500px) {
      font-size: 1.5rem;
    }

    li {
      margin-bottom: 0.2rem;
      position: relative;
      padding-left: 2rem;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 1rem;
        width: 0.8rem;
        height: 0.8rem;
        background: url("../../../public/icons/scribble.svg") no-repeat center center;
        background-size: contain;

        @media (max-width: 1200px) {
          top: 1.3rem;
        }
      }
    }
  }
}
