@use "../utils/variables" as vars;

.hero {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
  min-height: 100vh;
  padding: 4rem;

  @media (max-width: 500px) {
    padding-bottom: 8rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  &__title {
    font-size: 7.5rem;
    font-weight: 500;
    color: vars.$color-text-primary;
    margin: 0;

    @media (max-width: 1200px) {
      font-size: 5rem;
    }

    @media (max-width: 500px) {
      font-size: 3.5rem;
    }
  }

  &__subtitle {
    font-size: 3.5rem;
    font-family: vars.$font-description;
    color: vars.$color-text-primary;
    margin-top: 1rem;

    @media (max-width: 1200px) {
      font-size: 2.5rem;
    }

    @media (max-width: 500px) {
      font-size: 1.8rem;
    }
  }
}
