@use "../utils/variables" as vars;

.hero {
  & {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    min-height: 100vh;
    padding: 4rem;
    @media (max-width: 1200px) {
      & {
        padding-bottom: 18rem;
      }
    }
  }

  &__title {
    font-size: 7.5rem;
    font-weight: 500;
    color: vars.$color-text-primary;
    margin: 0;
  }

  &__subtitle {
    font-size: 3.5rem;
    font-family: vars.$font-description;
    color: vars.$color-text-primary;
    margin-top: 1rem;
  }
}
