@use "../utils/variables" as vars;

.project {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 4rem;
  padding: 4rem;
  align-items: center;
  min-height: 60vh;
  cursor: pointer;
  @media (max-width: 1200px) {
    grid-template-columns: none;
    gap: 0;
    align-items: baseline;
    min-height: 40vh;
  }

  &__title {
    font-size: 2.5rem;
    font-family: vars.$font-title;
    font-weight: 400;
    padding-bottom: 1rem;

    @media (max-width: 1200px) {
      font-size: 3rem;
    }
  }

  &__description {
    color: vars.$color-text-secondary;
    font-size: 1.5rem;
    font-family: vars.$font-description;
    padding-bottom: 1.5rem;
    @media (max-width: 1200px) {
      font-size: 2rem;
    }
  }

  &__details {
    color: vars.$color-text-secondary;
    font-size: 1rem;
    font-family: vars.$font-description;
    list-style: none;
    padding-bottom: 0.4rem;
    @media (max-width: 1200px) {
      font-size: 1.5rem;
    }

    li {
      margin-bottom: 0.75rem;

      strong {
        display: inline-block;
        width: 4rem;
        font-weight: 600;
      }

      a {
        margin-left: 0.5rem;
        color: #000;
        text-decoration: none;
      }
    }
  }

  &__image {
    display: flex;
    gap: 1.5rem;
    flex-wrap: nowrap;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 1rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease;
    }
    @media (max-width: 1200px) {
      margin-top: 2rem;
    }
  }
  &:hover .project__image img {
    transform: scale(1.05);
  }
}
