@use "./utils/variables" as vars;
@use "./base/links.scss";
@use "./base/grid.scss";
@use "./base/reset";
@use "./components/tableOfContents.scss";


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: vars.$font-title;
  background-color: vars.$color-bg;
}

.tweet-layout .back-link {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
