@use "./variables" as vars;

@mixin grid-overlay($with-mask: true) {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 0;

    background-image:
      repeating-linear-gradient(transparent, transparent 99%, vars.$grid-color),
      repeating-linear-gradient(
        90deg,
        transparent,
        transparent 99%,
        vars.$grid-color
      );
    background-size:
      100% 3rem,
      3rem 100%;

    @if $with-mask {
      mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        transparent 5%,
        rgba(0, 0, 0, 0.2) 25%,
        black 100%
      );
      mask-mode: alpha;
      mask-repeat: no-repeat;
      mask-size: 100% 100%;
      mask-composite: intersect;
    }
  }

  & > * {
    position: relative;
    z-index: 1;
  }
}

@mixin link-style($base-color: vars.$color-text-secondary) {
  color: $base-color;
  text-decoration: none;
  transition: color 0.2s;
  cursor: pointer;

  &:hover {
    color: #ec3e23;
  }
}
