@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600;700&display=swap');


$color-bg: #f4f3ef;
$color-text-primary: #0551cd;
$color-text-secondary: #26281B;
$color-text-acent: #ec3e23;

$font-title: "Outfit";
$font-description: "Zilla Slab", sans-serif;
$font-note: "Caveat", cursive;

$grid-color: #a09789;

// Transitions
$transition-smooth: 0.3s ease;
