@use "../utils/variables.scss" as vars;

a {
  color: vars.$color-text-secondary;
  text-decoration: none;
  transition: color vars.$transition-fast;
  cursor: pointer;

  &:hover {
    color: #ec3e23;
  }
}
